body
{
    background-color: #FCFAC2;
}

.titulo
{
    margin-top: 20px;
    margin-bottom: 20px;
}

h1
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.celda
{
    background-color: #ffd444;
    border-radius: 20px;
    text-align: center;
    height: 100%;
}

.celda a, .celda a:hover, .celda a:link, .celda a:visited
{
    display:block;
    margin: 5px 10%;
    background-color: #fca503;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.celda a.ejercicios
{
    background-color: #D5D4B2;
    color: black;
}

.pie 
{
    background-color: #ffd444;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 30px;
}
  
